.column {
    float: left;
    width: 33.33%;
    padding: 0px;
  }
  .column2 {
    float: left;
    width: 16.6%;
    padding: 0px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }