<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0 text-center">Modification du Passerelle</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group mb-3">
              <label for="inputName">Nom</label>
              <input class="form-control" type="text" formControlName="Nom" />
              <!-- <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['nom'].errors?.['required']"
              >
                Name is required.
              </div> -->
            </div>
  
            <div class="form-group mb-3">
              <label for="inputVerify3">Description</label>
              <input
                class="form-control"
                type="text"
                formControlName="Description"
              />
              <!-- error -->
              <!-- <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['numCapteur'].errors?.['required']"
              >
                Enter your numCapteur.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['numCapteur'].errors?.['pattern']"
              >
                Enter Numbers Only
              </div> -->
            </div>
            <div class="form-group mb-3">
                <label for="inputVerify3">Nom D'utilisateur</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="nomUtilisateur"
                  disabled
                />
                <!-- error -->
                <!-- <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['valeur'].errors?.['required']"
                >
                  Enter your valeur.
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['valeur'].errors?.['pattern']"
                >
                  Enter Numbers Only
                </div> -->
              </div>
              <div class="form-group mb-3">
                <label for="inputName">GPS long</label>
                <input class="form-control" type="number" formControlName="GPSLong" />
                <!-- <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['nomUtilisateur'].errors?.['required']"
                >
                  Nameuser is required.
                </div> -->
              </div>
              <div class="form-group mb-3">
                <label for="inputName">GPS lat</label>
                <input class="form-control" type="number" formControlName="GPSLat" />
                <!-- <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['nomUtilisateur'].errors?.['required']"
                >
                  Nameuser is required.
                </div> -->
              </div>
              <!-- <div class="form-group mb-3">
                <label for="inputName">valeur de capteur</label>
                <input class="form-control" type="text" formControlName="Sensor1" />

              </div> -->
            <div class="form-group mb-3 text-center">
              <button class="btn btn-success" type="submit">
                Enregister
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- form  -->
    </div>
  </div>
