<head>
        <title> Page D'acceuil</title>
</head>

    <!-- <div class="loading" data-layout-config='{"darkMode":false}'> -->

        <!-- NAVBAR START -->
        <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
            <div class="container">

                <!-- logo -->
                <a href="" class="navbar-brand me-lg-5" >
                 <h2 class="" style="color:rgba(19, 217, 121, 0.742);">  Agriculture IOT</h2> 
                </a>

                <button class="navbar-toggler" style="color:rgba(19, 217, 121, 0.742);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>

                <!-- menus -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <!-- left menu -->
                    <ul class="navbar-nav me-auto align-items-center">
           
                        
                    </ul>

                    <!-- right menu -->
                    <ul class="navbar-nav ms-auto align-items-center">

                      <li class="nav-item dropdown">
                        <a class="btn btn-outline-success rounded-pill" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Connexion</a>
                        <div class="dropdown-menu primary" aria-labelledby="dropdown04">
                          <a class="dropdown-item btn-outline-success" href="/admin/login">Administration</a>
                          <a class="dropdown-item btn-outline-success" href="/user/login">Utilisateur</a>
                        </div>
                      </li>
                            
                    <br>
                    <li class="nav-item mx-lg-1">
                        <a class="btn btn-outline-success rounded-pill" href="/user/register">Inscription</a>
                    </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->
        <!-- carousel -->
        <section class=" py-5">
            <div class="container ">
              <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="card">
              <div id="carouselExampleCaption" class="carousel slide "   data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner "  role="listbox"  >
                    <div class="carousel-item active">
                        <img src="https://www.mutualia.fr/sites/default/files/styles/banner__desk_to_wide/public/media_banner/1809.Coverflow_Agriculteurs_-_Mutualiaetvous.png?itok=P9C5Yi6v" alt="..." class=" d-block img-fluid">
                        <div class="carousel-caption d-none d-md-block" style="margin-right:35% ;">
                          <h2 class="text-white">Agricuture Biologique <br>    s'engage pour vous </h2>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.mutualia.fr/sites/default/files/styles/banner__desk_to_wide/public/media_banner/1809.Coverflow_Agriculteurs_-_Prevoyance__vf.png?itok=SkY6Pps5" alt="..." class="d-block img-fluid">
                        <div class="carousel-caption d-none d-md-block" style="margin-right:35% ;">
                          <h2 class="text-white">Agricuture Biologique <br>    qui vous protège </h2>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.mutualia.fr/sites/default/files/styles/banner__desk_to_wide/public/media_banner/Cowerflow-agri-_1.jpg?itok=SowdnPsz" alt="..." class="d-block img-fluid">
                        <div class="carousel-caption d-none d-md-block" style="margin-right:35% ;" >
                            <h2 class="text-white" >Agricuture Biologique <br> la mutuelle santé <br> des agriculteurs</h2>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaption" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaption" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>


            </div></div></div></div>
            </div>
        </section>
        <!-- START HERO -->
        <section class=" py-5">
            <div class="container ">
                <div class="row align-items-center">

                    <div class="col-md-5">
                        <div class="mt-md-4">
                          
                            <div>
                                <span class="badge bg-danger rounded-pill">Nouveau</span>
                                <span class=" ms-1"> mise à jour: correction de bugs et amélioration de l'expérience utilisateur</span>
                            </div>
                            <h2 class=" fw-normal mb-4 mt-3 hero-title">
                              Choisissez une mutuelle spécialiste du monde agricole

                            </h2>

                            <p class="mb-4 font-16 ">Experts auprès des agriculteurs depuis plus de 10 ans, les conseillers Agriculture Biologique vous accompagnent et vous proposent plusieurs solutions santé et prévoyance adaptées à votre situation pour vous permettre de vous consacrer pleinement à votre exploitation.</p>

                            <a href="/user/register" target="_blank" class="btn btn-success">s'inscrire maintenant <i
                                    class="mdi mdi-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-2">
                        <div class=" mt-3 mt-md-0">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card ">
                                        <div class="card-body text-center">
                                            <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                            <h3><span>{{users.length+1}}</span></h3>
                                            <p class="text-muted font-15 mb-0">Total Utilisateurs</p>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-4">
                                     <div class="card ">
                                        <div class="card-body text-center">
                                            <i class="uil-bolt-alt text-muted" style="font-size: 24px;"></i>
                                            <h3><span>{{acts.length}}</span></h3>
                                            <p class="text-muted font-15 mb-0">Total Actionneurs</p>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                        
                                 <div class=" col-lg-4">
                                     <div class="card ">
                                        <div class="card-body text-center">
                                            <i class="dripicons-meter text-muted" style="font-size: 24px;"></i>
                                            <h3><span>{{caps.length}}</span></h3>
                                            <p class="text-muted font-15 mb-0">Total <br> Capteurs</p>
                                        </div>
                                    </div>
                                </div>
                        
                                 <div class="col-lg-4">
                                     <div class="card ">
                                         <div class="card-body text-center">
                                             <i class="uil-wifi-router text-muted" style="font-size: 24px;"></i>
                                             <h3><span>{{pass.length}}</span></h3>
                                             <p class="text-muted font-15 mb-0">Totale Passerelles</p>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HERO -->


        <!-- START FOOTER -->
        <footer class="bg-dark py-lg-3">
                        <div >
                            <p class="text-muted mt-4 text-center mb-0">© 2022 Agriculture Biologique. Conçu et codé par
                                Lazez Rawand - Chebbi Omar</p>
                        </div>

        </footer>
        <!-- END FOOTER -->

        <!-- bundle -->
        <script src="/src/assets/admin/js/vendor.min.js"></script>
        <script src="/src/assets/admin/js/app.min.js"></script>

      <!-- </div> -->


