<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <h3 class="text-dark-50 text-center pb-0 fw-bold" style="color:rgba(18, 177, 18, 0.637) ;">
                               <b> Serveur Broker </b></h3>
                               <br>

                        </div>
                        <div class="mb-3">
                            <label for="email"> Broker:</label>
                            <input type="text" class="form-control" placeholder=""  id="email">
                        </div>
                        <div class="mb-3">
                            <label for="email"> Port:</label>
                            <input type="text" class="form-control"  id="email"> 
                            <input type="checkbox" id="ssl" > <label for="ssl">SSL</label>
                        </div>
                        <div class="mb-3">
                            <label for="email"> Utilisateur:</label>
                            <input type="text" class="form-control"  id="email">
                        </div>
                        <div class="mb-3">
                            <label for="email">Mot de passe:</label>
                            <input type="text" class="form-control"  id="email">
                        </div>
                       <button class="btn btn-primary" style="float:left ;"> Connexion</button>
                       <button class="btn btn-primary" style="float:right ;"> Déconnexion</button>
                       <br><br><br>
                       <div class="mb-3 mb-0 text-center">
                       <button class="btn btn-success text-center"  > Enregister</button>
                       </div>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
