<head>

    <title>Espace Utilisateur</title>



</head>

<div class="auth-fluid">
   
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- title-->
                <h4 class="mt-0">Inscription Gratuite</h4>
                <p class="text-muted mb-4">Vous n'avez pas de compte ? Créez votre compte, cela prend moins d'une minute</p>

                <!-- form -->
                
                <form (ngSubmit)="onRegisterSubmit(); registerForm.reset();" #registerForm="ngForm">
                    <div class="mb-3">
                      <label for="name">Nom:</label>
                      <input type="text" class="form-control" placeholder="Entrer votre name" id="name" required minlength="2" [(ngModel)]="model.firstname" name="name" #firstname="ngModel">
                      <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                        <div *ngIf="firstname.errors.required">Nom est obligatoire.</div>
                        <div *ngIf="firstname.errors.minlength">Nom doit comporter au moins 2 caractères.</div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="lastname">Prénom:</label>
                      <input type="text" class="form-control" placeholder="Entrer votre prénom" id="lastname" required minlength="2" [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel">
                      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                        <div *ngIf="lastname.errors.required">Prénom est obligatoire.</div>
                        <div *ngIf="lastname.errors.minlength">Prénom doit comporter au moins 2 caractères.</div>
                      </div>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="username">Nom d'utilisateur:</label>
                        <input type="text" class="form-control" placeholder="Entrer votre nom d'utilisateur" id="username" required minlength="4" maxlength="16" [pattern]="unamePattern"  [(ngModel)]="model.username" name="username" #username="ngModel">
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                          <div *ngIf="username.errors.required">Nom d'utilisateur est obligatoire.</div>
                          <div *ngIf="username.errors.minlength">minimum 4 chiffre.</div>
                          <div *ngIf="username.errors.pattern">Nom d'utilisateur non valide.</div> 

                        </div>
                      </div> -->
                    <div class="mb-3">
                        <label for="email">Adresse Email:</label>
                        <input type="email" class="form-control" placeholder="Entrer votre email address" id="email" required email [(ngModel)]="model.email" name="email" #email="ngModel">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                          <div *ngIf="email.errors.required">Addresse email est obligatoire.</div>
                          <div *ngIf="email.errors.email">Ce n'est pas un format d'adresse e-mail valide.</div>
                        </div>
                      </div>

                      <div class="mb-3">

                        <label for="password">Mot de passe:</label>
                        <div class="input-group input-group-merge">
                        <input matInput [type]="hide ? 'password' : 'text'" type="password" class="form-control" placeholder="Enter your password" id="password" required [pattern]="pwdpattern" [(ngModel)]="model.password" name="password" #password="ngModel">
                        <div style= "padding: 2px 10px;" class="input-group-text" data-password="false">
                            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" ><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></span>
                        </div></div>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                          <div *ngIf="password.errors.required">Mot de passe est obligatoire.</div>
                          <div *ngIf="password.errors.pattern">Le mot de passe doit contenir une majuscule, une minuscule et un caractère numérique ou spécial. La longueur doit être d'au moins 8 caractères.</div>
                        </div>
                    </div>

                    <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Inscription</button>
                </div>
                
                </form>
                    <!-- social-->
                    
                
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt">
                    <p class="text-muted">Vous avez déjà un compte ? <a routerLink="/user/login" class="text-muted ms-1"><b>S'identifier</b></a></p>
                </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <!--<div class="auth-fluid-right text-center">
         <div class="auth-user-testimonial"> 
             <h2 class="mb-3">I love the color!</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> It's a elegent templete. I love it very much! . <i class="mdi mdi-format-quote-close"></i>
            </p>
            <p>
                - Hyper Admin User
            </p> 
        </div>  
    </div>-->
    <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->