


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Tableau De Bord</a></li>
                    
                    <li class="breadcrumb-item active">Gestion passerelles</li>
                </ol>
            </div>
            <h4 class="page-title"> Liste Des passerelles </h4>
        </div>
    </div>
  </div> 
  


  <div *ngIf="users.length <= 0" class="alert alert-warning text-center container" style="width:95% ;" role="alert">
    Il n'y a pas encore de passerelle ajouté !
</div>
  <div class="tab-content">
    <div class="tab-pane show active" id="basic-datatable-preview">
      <button (click)="downloadPDF()" type="button"  class="btn btn-outline-primary" > Télécharger en pdf</button>

        <button class="btn btn-primary col-2 " routerLink="/admin/ajouterpasserelle" id="right"  >   Ajouter une passerelle</button>
        <div style="padding:10px;"></div>
        <div id="content" #content>
        <table id="basic-datatable" class="table dt-responsive nowrap w-100 table-bordered" *ngIf="users.length > 0">
          <thead class="table-info">
            <tr class="text-center">
                    <th>Nom</th>
                    <!-- <th>Description</th> -->
                    <th>Nom D'utilisateur</th>
                    <th>GPSLong</th>
                    <th>GPSLat</th>
                    <!-- <th>Capteur1</th> -->
                    <!-- <th>Sensor2</th>
                    <th>Sensor3</th>
                    <th>Sensor4</th>
                    <th>Sensor5</th> -->
                    <th>Date</th>
                  
                    <th>Options</th>
               
                </tr>
            </thead>
        
        
            <tbody>
                <tr *ngFor="let item of users " class="text-center">
                    <td >{{item.Nom}} </td>
                    <!-- <td>{{item.Description}} </td> -->
                    <td>{{item.nomUtilisateur}} </td>
                    <td>{{item.GPSLong}} </td>
                    <td>{{item.GPSLat}} </td>
                    <!-- <td>{{item.Sensor1}} </td> -->

                    <td>{{item.Date| date:'dd , MM , y, HH:mm:ss'}} </td>
  
                    <td>
                      <!-- <button class="btn btn-info m-1 " (click)="getdata(item.Nom,item.Description,item.nomUtilisateur,item.GPSLong,item.GPSLat,item.Sensor1,item.Date,item._id)"  data-bs-toggle="modal" data-bs-target="#login-modal">Modifier</button> -->
                      <span class="edit" [routerLink]="['/admin/updatepasserelle/', item._id]">
                        <button type="button" class="btn btn-info m-1">Modifier</button>
                      </span>
                        <button class="btn btn-danger m-1 " (click)="delete(item._id)"  >Supprimer</button>   
                        <button class="btn btn-warning m-1" (click)="details(item._id)"> Détails</button> 
                       
                    </td>
                  
                </tr>
               
                </tbody>
        </table>
    </div>
    </div>
  </div> 
  
  <!-- <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="text-center mt-2 mb-4">
                      
                  </div>
  
                  <form #f="ngForm" (ngSubmit)="updatenewupas(f)">
  
                    <div class="mb-3">
              
                      <label for="1">Nom</label>
                      <input type="text" class="form-control" placeholder="firstName" id="1" [(ngModel)]="passerelle.Nom" required name="firstname" #firstname="ngModel" ngModel minlength="2" maxlength="20">
                    </div>
                   
                    <div class="mb-3">
                        <label for="2">Description</label>
                        <angular-editor  class="from-control " id="2" [config]="editorConfig"  [(ngModel)]="passerelle.Description"></angular-editor>
                      </div>
                    
                      <div class="mb-3">
                        <label for="3">Nom D'utilisateur</label>
                        <input type="text" class="form-control"  id="3" [(ngModel)]="passerelle.nomUtilisateur"  required name="nomUtilisateur" #nomUtilisateur="ngModel" ngModel>
                      </div>
     
                      <div class="mb-3">
                        <label for="4">GPSLong</label>
                        <input type="number" class="form-control" [(ngModel)]="passerelle.GPSLong" id="4"  name="GPSLong" #GPSLong="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="5">GPSLat</label>
                        <input type="number" class="form-control" [(ngModel)]="passerelle.GPSLong" id="5"  name="GPSLat" #GPSLat="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="6">Sensor 1</label>
                        <input type="number" class="form-control" [(ngModel)]="passerelle.Sensor1" id="6" name="Sensor1" #Sensor1="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="7">Sensor 2</label>
                        <input type="number" class="form-control" [(ngModel)]="passerelle.Sensor2" id="7"  name="Sensor2" #Sensor2="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="8">Sensor3</label>
                        <input type="number" class="form-control"  [(ngModel)]="passerelle.Sensor3" id="8"  name="Sensor3" #Sensor3="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="9">Sensor 4</label>
                        <input type="number" class="form-control"  [(ngModel)]="passerelle.Sensor4" id="9"  name="Sensor4" #Sensor4="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="10">Sensor 5</label>
                        <input type="number" class="form-control"  [(ngModel)]="passerelle.Sensor5" id="10" name="Sensor5" #Sensor5="ngModel" ngModel>
  
                      </div>
                      <div class="mb-3">
                        <label for="11">Date</label>
                        <input type="datetime-local" class="form-control"  [(ngModel)]="passerelle.Date" id="11"  name="Date" #Date="ngModel" ngModel>
  
                      </div>
                      
                      <div class="text-center">
                      <button  class="btn btn-primary" data-bs-dismiss="modal" >save changes </button>
                      </div>
                  </form>
  
                  
  
              </div>
              <div class="modal-footer">
                
                 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div> 
      </div>  
  </div> -->