<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <h3 class="text-dark-50 text-center pb-0 fw-bold" style="color:rgba(18, 177, 18, 0.637) ;">
                               <b> Topic </b></h3>
                               <br>

                        </div>
                        <div class="mb-3">
                            <label for="email"> Topic : Température</label>
                            <input type="text" class="form-control" placeholder=""  id="email">
                        </div>
                        <div class="mb-3">
                            <label for="email"> Topic : Humidité</label>
                            <input type="text" class="form-control"  id="email"> 

                        </div>
                        <div class="mb-3">
                            <label for="email"> Topic : Humidité de sol</label>
                            <input type="text" class="form-control"  id="email">
                        </div>
                        <div class="mb-3">
                            <label for="email">Topic : Niveau de l'eau</label>
                            <input type="text" class="form-control"  id="email">
                        </div>
                        <label for="1"> QoS</label>
                        <select
                        class="custom-select form-control">
          
                        <option value="" disabled>Choisi...</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>

                      </select>
                      <br>
                       <button class="btn btn-primary" style="float:left ;"> S'abonner</button>
                       <button class="btn btn-primary" style="float:right ;"> Se désabonner</button>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
