<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0 text-center">Modifier Actionneur</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group mb-3">
              <label for="inputName">Nom</label>
              <input class="form-control" type="text" formControlName="nom" />
              <!-- <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['nom'].errors?.['required']"
              >
                Name is required.
              </div> -->
            </div>

            <div class="form-group mb-3">
              <label for="inputPassword3">Type</label>
              <select
                class="custom-select form-control"
                (change)="updateProfile($event.target.value)"
                formControlName="type"
              >
                <option value="" disabled>Choisi...</option>
                <option
                  *ngFor="let employeeProfile of EmployeeProfile"
                  value="{{ employeeProfile }}"
                >
                  {{ employeeProfile }}
                </option>
              </select>
              <!-- error -->
              <!-- <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['type'].errors?.['required']"
              >
                Choose type.
              </div> -->
            </div>
  
            <div class="form-group mb-3">
              <label for="inputVerify3">Numéro actionneur</label>
              <input
                class="form-control"
                type="text"
                formControlName="numactionneur"
              />
              <!-- error -->
              <!-- <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['numCapteur'].errors?.['required']"
              >
                Enter your numCapteur.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['numCapteur'].errors?.['pattern']"
              >
                Enter Numbers Only
              </div> -->
            </div>
            <div class="form-group mb-3">
              <label for="inputPassword3">Etat</label>
              <select
                class="custom-select form-control"
                (change)="updateact($event.target.value)"
                formControlName="valeur"
              >
                <option value="" disabled>Choisi...</option>
                <option value="true">allumé</option>
                <option value="false">éteindre</option>
              </select>
   
            </div>
              <div class="form-group mb-3">
                <label for="inputName">Nom d'utilisateur</label>
                <input class="form-control" type="text" formControlName="nomUtilisateur" disabled=""/>
                <!-- <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['nomUtilisateur'].errors?.['required']"
                >
                  Nameuser is required.
                </div> -->
              </div>
              <div class="form-group mb-3">
                <label for="inputName">Nom de passerelle</label>
                <input class="form-control" type="text" formControlName="nomPasserelle" />
                <!-- <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['nomUtilisateur'].errors?.['required']"
                >
                  Nameuser is required.
                </div> -->
              </div>
            <div class="form-group mb-3 text-center">
              <button class="btn btn-success" type="submit">
                Enregister
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- form  -->
    </div>
  </div>
  



